body{
   /* background-color: black; */
   /* background: rgb(90,0,120); */
   background-color: #555;
   font-family: "Rubik", serif;
/* background: linear-gradient(90deg, rgba(90,0,120,1) 0%, rgba(36,0,121,1) 100%); */
}
.mein{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   /* background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(76,0,255,1) 100%); */
}
.calculator{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* background-color: transparent; */
   background-color: #000;
   padding: 25px 20px;
   margin: 10px;
   border-radius: 10px;
}
.calculator-1{
   margin-bottom: 10px;
}
.calculator-1 input{
   color: black;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   text-align: right;
   background-color: #888;
   padding: 5px;
   font-size: 35px;
   height: 60px;
   width: 300px;
   cursor: pointer;
   border-radius: 10px;
   border: none;
   font-weight: bold;
   outline: none;
}
.calculator-1 input::placeholder{
   color: black;
}
.calculator-2{
   /* display: flex; */
   justify-content: center;
   flex-direction: column;
   align-items: center;
   /* padding: 10px; */
   /* margin: 10px; */
   /* text-align: center; */
}
.btn1{
    color: rgb(141, 3, 3);
}
.calculator-2 .btn1:focus{
   background-color: rgb(175, 2, 2);
   color: aliceblue;
   transition: 0.5;
   /* transform: 1.1s; */
}
.calculator-2 button:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   transition: 1.5s;
   transform: 1.1;
}
.calculator-2 button:focus{
   transition: 0.5s;
   color: aliceblue;
   background-color: rgb(78, 82, 92);

}
.calculator-2 button{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   text-align: center;
   margin: 2px;
   /* padding: 10px 20px; */
   /* display: flex; */
   /* justify-content: center; */
   /* flex-direction: column; */
   text-align: center;
   font-size: 30px;
   width: 70px;
   height: 70px;
   /* padding: 20px; */
   border-radius: 10px;
   border: none;
   font-weight: bold;
   background-color: #999;
}
@media(max-width: 390px){
   .calculator-2 button{
      width: 65px;
      height: 65px;
      font-size: 30px;
   }
   .calculator-1 input{
      width: 280px;
   }
   #history{
      width: 190px;
   }
}
@media(max-width: 300px){
   .calculator-2 button{
      width: 50px;
      height: 50px;
      font-size: 25px;
   }
   .calculator-1 input{
      width: 220px;
      height: 50px;
   }
   .calculator{
      padding: 20px 10px;
   }
}
.history{
   background-color: black;
   color: #fff;
   height: 550px;
   width: 350px;
   border-radius: 10px;
   display: none;
   transition: 0.5s;
}
.historys{
   padding: 10px 25px;
}
.historys h1 {
   text-align: center;
}
.ps{
   /* height: 100px; */
   height: 380px;
   /* height: 60vh; */
   overflow-y: scroll;
   padding: 0px 15px;
}
.ps::-webkit-scrollbar{
   width: 10px;
   height: 10px;
   /* background-color: transparent; */
}
.ps::-webkit-scrollbar-thumb{
   border-radius: 10px;
   background-color: aliceblue;
}
.ps p{
   font-size: 30px;
}
/* .active .history{
   top: calc(100% - 680px);
} */
.icon{
   color: aliceblue;
   position: relative;
   left: 150px;
   bottom: 10px;
   /* top: 0px; */
}
.p1{
   border-bottom: 2px solid #999;
}
